[web]
#Password to the website
password: verysecreT
#Port to listen on
port: 5001
#Your Kindle serial
#Needed to remove DRM from uploaded books
#Leave at "no" to disable dedrm functionality
kindleserial: no

[data]
#Path to your ebook directory
bookdir: /home/nas/books
#Allowed file formats
formats: .epub,.mobi,.azw,.azw3
#Your API key from Goodreads
apikey: sdwrDSFi454536

#Should probably not change the below settings
apiurl: https://www.goodreads.com/search.xml
timeout: 15
