<select class="selectpicker" id="titleList" onchange="titleGo()" data-live-search="true" data-style="btn-primary" data-size="9">
<option>View book on Goodreads</option>
{% for title in titles -%}
<option value="{{ title.split()[-1] }}">{{ title.split()[0:-1]|join(' ') }}</option>
{%- endfor %}
</select>
<select class="selectpicker" id="authorList" onchange="authorGo()" data-live-search="true" data-style="btn-success" data-size="9">
<option>Search author</option>
{% for author in authors %}
<option value="{{ author.split()[-1] }}">{{ author.split()[0:-1]|join(' ') }}</option>
{% endfor %}
</select>
